<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>

    <form method="POST" action="/listings">
        <h3>Create A new list</h3>
        <input type="text" name="listing[title]" id="" placeholder="Enter Title"> <br> <br>

        <textarea type="text" name="listing[description]" id="" placeholder="Enter description"></textarea> <br> <br>

        <input type="text" name="listing[image]" id="" placeholder="Enter image URL"> <br> <br>

        <input type="number" name="listing[price]" id="" placeholder="Enter Price"> <br> <br>

        <input type="text" name="listing[location]" id="" placeholder="Enter Location"> <br> <br>

        <input type="text" name="listing[country]" id="" placeholder="Enter Country"> <br> <br>

        <button>create listing</button>
    </form>

</body>

</html>